body {
  padding: 0;
  margin: 0;
}
menu {
  padding: 0;
  height: 80px;
  margin: 0;
  border-bottom: 1px solid #000000;
}
menu .links {
  margin-left: 15%;
  padding-top: 26px;
  display: flex;
  flex-direction: row;
}
menu .links a {
  font-family: Poiret One;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  line-height: 27px;
  margin-left: 45px;
}
menu .links a:hover {
  border-bottom: 3px solid orange;
  padding-bottom: 25px;
}
menu .links a:first-of-type {
  border-bottom: 3px solid orange;
  padding-bottom: 25px;
}
header {
  height: 847px;
  background: url('img/header.png');
  margin-top: -5px;
  padding: 0;
}
header .main-h {
  height: 847px;
  display: grid;
  grid-template-columns: 440px 670px;
  grid-column-gap: 272px;
  justify-content: center;
  margin-top: 105px;
}
header .main-h .inf {
  margin-top: 75px;
}
header .main-h .inf h1 {
  font-family: Kelly Slab;
  font-size: 64px;
  line-height: 30px;
}
header .main-h .inf .line {
  margin-top: 75px;
  width: 236px;
  height: 31px;
  background: linear-gradient(90deg, #f29653 0%, #d4643f 100%);
}
header .main-h .inf p {
  text-align: right;
}
header .main-h .inf .words {
  margin-top: 127px;
}
main {
  height: 3304px;
  background: linear-gradient(180deg, #2b2b2b 0%, #000000 52.08%, #2b2b2b 100%);
}
main .content {
  margin-top: 128px;
  display: grid;
  grid-template-rows: 408px 408px 408px 408px 408px;
  grid-template-columns: 1284px;
  grid-row-gap: 173px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
@media (max-width: 1500px) {
  menu {
    height: 45px;
    margin: 0;
    border-bottom: 1px solid #000000;
  }
  menu .links {
    margin-left: 15%;
    padding-top: 11px;
    display: flex;
    flex-direction: row;
  }
  menu .links a {
    font-size: 14px;
    line-height: 27px;
    margin-left: 40px;
  }
  menu .links a:hover {
    border-bottom: 3px solid orange;
    padding-bottom: 5px;
  }
  menu .links a:first-of-type {
    border-bottom: 3px solid orange;
    padding-bottom: 5px;
  }
  header {
    height: 672px;
    background: url('img/header.png');
    background-size: 1500px 672px;
    margin-top: -5px;
    padding: 0;
  }
  header .main-h {
    height: 672px;
    display: grid;
    grid-template-columns: 329px 527px;
    grid-template-rows: 512px;
    grid-column-gap: 220px;
    justify-content: center;
    margin-top: 55px;
  }
  header .main-h .main-img {
    width: 329px;
    height: 517px;
  }
  header .main-h .inf {
    margin-top: 20px;
  }
  header .main-h .inf h1 {
    font-size: 50px;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
  header .main-h .inf .line {
    margin-top: 45px;
    width: 176px;
    height: 25px;
  }
  header .main-h .inf p {
    text-align: right;
    font-size: 12px;
    line-height: 15px;
  }
  header .main-h .inf .words {
    margin-top: 101px;
  }
  main {
    height: 2478px;
    margin-top: -60px;
  }
  main .content {
    margin-top: 111px;
    display: grid;
    grid-template-rows: 286px 286px 286px 286px 286px;
    grid-template-columns: 900px;
    grid-row-gap: 126px;
  }
  main .content .card {
    width: 900px;
    height: 285.98px;
  }
}
@media (max-width: 1000px) {
  menu {
    height: 40px;
    margin: 0;
    border-bottom: 1px solid #000000;
  }
  menu .links {
    margin-left: 15%;
    padding-top: 11px;
    display: flex;
    flex-direction: row;
  }
  menu .links a {
    font-size: 14px;
    line-height: 27px;
    margin-left: 40px;
  }
  menu .links a:hover {
    border-bottom: 3px solid orange;
    padding-bottom: 2px;
  }
  menu .links a:first-of-type {
    border-bottom: 3px solid orange;
    padding-bottom: 2px;
  }
  header {
    height: 554px;
    background: url('img/header.png');
    background-size: 1000px 554px;
    margin-top: -5px;
    padding: 0;
  }
  header .main-h {
    height: 361px;
    display: grid;
    grid-template-columns: 230px 380px;
    grid-template-rows: 361px;
    grid-column-gap: 113px;
    justify-content: center;
    margin-top: 95px;
  }
  header .main-h .main-img {
    width: 230px;
    height: 361px;
  }
  header .main-h .inf {
    margin-top: 20px;
  }
  header .main-h .inf h1 {
    font-size: 35px;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
  header .main-h .inf .line {
    margin-top: 24px;
    width: 131px;
    height: 15px;
  }
  header .main-h .inf p {
    text-align: right;
    font-size: 12px;
    line-height: 15px;
  }
  header .main-h .inf .words {
    margin-top: 25px;
  }
  main {
    height: 2000px;
    margin-top: -60px;
  }
  main .content {
    margin-top: 111px;
    display: grid;
    grid-template-rows: 256px 256px 256px 256px 256px;
    grid-template-columns: 760px;
    grid-row-gap: 90px;
  }
  main .content .card {
    width: 760px;
    height: 256.47px;
  }
}
@media (max-width: 800px) {
  menu .links {
    margin-left: 5%;
  }
  menu .links a {
    margin-left: 35px;
    font-size: 13px;
  }
  header {
    height: 395px;
    background: url('img/header.png');
    background-size: 800px 370px;
    margin-top: -5px;
    padding: 0;
  }
  header .main-h {
    height: 361px;
    display: grid;
    grid-template-columns: 172px 380px;
    grid-template-rows: 270px;
    grid-column-gap: 48px;
    justify-content: center;
    margin-top: 27px;
  }
  header .main-h .main-img {
    width: 172px;
    height: 270px;
  }
  header .main-h .inf {
    margin-top: 20px;
  }
  header .main-h .inf h1 {
    font-size: 30px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: right;
  }
  header .main-h .inf .line {
    margin-top: 24px;
    width: 115px;
    height: 11px;
    margin-left: 65px;
  }
  header .main-h .inf p {
    text-align: right;
    font-size: 10px;
    line-height: 10px;
  }
  header .main-h .inf .words {
    margin-top: 25px;
  }
  main {
    height: 2000px;
    margin-top: -60px;
  }
  main .content {
    margin-top: 111px;
    display: grid;
    grid-template-rows: 214px 214px 214px 214px 214px;
    grid-template-columns: 580px;
    grid-row-gap: 90px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  main .content .card {
    width: 580px;
    height: 214px;
  }
}
@media (max-width: 650px) {
  menu .links {
    margin-left: 5%;
  }
  menu .links a {
    margin-left: 12px;
    font-size: 12px;
  }
  header {
    height: 330px;
    background: url('img/header.png');
    background-size: 650px 300px;
    margin-top: -5px;
    padding: 0;
  }
  header .main-h {
    height: 361px;
    display: grid;
    grid-template-columns: 135px 194px;
    grid-template-rows: 211px;
    grid-column-gap: 21px;
    margin-top: 20px;
  }
  header .main-h .main-img {
    width: 135px;
    height: 211.92px;
  }
  header .main-h .inf {
    margin-top: 0px;
  }
  header .main-h .inf h1 {
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.2px;
    text-align: right;
  }
  header .main-h .inf .line {
    margin-top: 0px;
    width: 66px;
    height: 6px;
    margin-left: 65px;
  }
  header .main-h .inf p {
    text-align: right;
    font-size: 10px;
    line-height: 10px;
  }
  header .main-h .inf .words {
    margin-top: 25px;
  }
  main {
    height: 1500px;
    margin-top: -60px;
  }
  main .content {
    margin-top: 111px;
    display: grid;
    grid-template-rows: 128px 128px 128px 128px 128px;
    grid-template-columns: 340px;
    grid-row-gap: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  main .content .card {
    width: 340px;
    height: 128px;
  }
}
@media (max-width: 400px) {
  menu {
    height: 25px;
  }
  menu .links {
    margin-left: 3%;
  }
  menu .links a {
    margin-left: 6px;
    font-size: 7px;
    line-height: 9px;
  }
  header {
    height: 330px;
    background: url('img/header.png');
    background-size: 650px 300px;
    margin-top: -5px;
    padding: 0;
  }
  header .main-h {
    height: 361px;
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 137px 156px;
    grid-column-gap: 0px;
    margin-top: 0px;
  }
  header .main-h .main-img {
    width: 100px;
    height: 156.98px;
    margin-top: -48px;
    grid-row: 2;
  }
  header .main-h .inf {
    margin-top: 0px;
  }
  header .main-h .inf h1 {
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: right;
  }
  header .main-h .inf .line {
    margin-top: 0px;
    width: 66px;
    height: 6px;
    margin-left: 37px;
  }
  header .main-h .inf p {
    text-align: right;
    font-size: 9px;
    line-height: 10px;
  }
  header .main-h .inf .words {
    margin-top: 9px;
  }
  main {
    height: 1000px;
    margin-top: -60px;
  }
  main .content {
    margin-top: 36px;
    display: grid;
    grid-template-rows: 110px 110px 110px 110px 110px;
    grid-template-columns: 230px;
    grid-row-gap: 36px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  main .content .card {
    width: 230px;
    height: 110px;
  }
}
