body{
  padding: 0;
  margin: 0;
}
@flame: linear-gradient(90deg, #F29653 0%, #D4643F 100%);
@media (max-width: 1920px) {
  menu{
    margin: 0;
    padding: 0;
    height: 80px;
    margin: 0;
    border-bottom: 1px solid #000000;
    .links{
      margin-left: 15%;
      padding-top: 26px;
      display: flex;
      flex-direction: row;
        a{
          font-family: Poiret One;
          color: #000000;
          text-decoration: none;
          font-size: 16px;
          line-height: 27px;
          margin-left: 45px;
        }
        a:hover{
          border-bottom: 3px solid orange;
          padding-bottom: 25px;
        }

    }
  }
  header{
    height: 847px;
    background: url('img/header.png');
    margin-top: -5px;
    padding: 0;
    .main-h{
      height: 847px;
      display: grid;
      grid-template-columns: 440px 670px;
      grid-column-gap: 272px;
      justify-content: center;
      margin-top: 105px;
    .inf{
      margin-top: 75px;
      h1{
        font-family: Kelly Slab;
        font-size: 64px;
        line-height: 30px;
      }
      .line{
        margin-top: 75px;
        width: 236px;
        height: 31px;
        background: linear-gradient(90deg, #F29653 0%, #D4643F 100%);
      }
      p{
        text-align: right;
      }
      .words{
        margin-top: 127px;
      }
    }
    }
  }
  main{
    height: 3304px;
    background: linear-gradient(180deg, #2B2B2B 0%, #000000 52.08%, #2B2B2B 100%);
    .content{
      margin-top: 128px;
      display: grid;
      grid-template-rows: 408px 408px 408px 408px 408px;
      grid-template-columns: 1284px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      .card{
        background: url('img/card.png');
        padding-top: 84px;
        justify-content: center;
        h1{
          color: white;
          font-family: Poiret One;
          font-size: 45px;
          line-height: 33px;
          letter-spacing: 2.2px;
          left: 50%;
          transform: translate(-50%);
          margin-top: -40px;
          grid-column: none;
        }
      }
      .first{
        display: grid;
        grid-template-columns: 167px 195px 320px;
        grid-column-gap: 52px;
      }
      .second{
        display: grid;
        grid-template-columns: 192px 326px 151px 367px;
        grid-column-gap: 27px;
      }
    }
  }
}
