body {
  padding: 0;
  margin: 0;
}
@media (max-width: 1920px) {
  menu {
    padding: 0;
    height: 80px;
    margin: 0;
    border-bottom: 1px solid #000000;
  }
  menu .links {
    margin-left: 15%;
    padding-top: 26px;
    display: flex;
    flex-direction: row;
  }
  menu .links a {
    font-family: Poiret One;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
    margin-left: 45px;
  }
  menu .links a:hover {
    border-bottom: 3px solid orange;
    padding-bottom: 25px;
  }
  header {
    height: 847px;
    background: url('img/header.png');
    margin-top: -5px;
    padding: 0;
  }
  header .main-h {
    height: 847px;
    display: grid;
    grid-template-columns: 440px 670px;
    grid-column-gap: 272px;
    justify-content: center;
    margin-top: 105px;
  }
  header .main-h .inf {
    margin-top: 75px;
  }
  header .main-h .inf h1 {
    font-family: Kelly Slab;
    font-size: 64px;
    line-height: 30px;
  }
  header .main-h .inf .line {
    margin-top: 75px;
    width: 236px;
    height: 31px;
    background: linear-gradient(90deg, #f29653 0%, #d4643f 100%);
  }
  header .main-h .inf p {
    text-align: right;
  }
  header .main-h .inf .words {
    margin-top: 127px;
  }
  main {
    height: 3304px;
    background: linear-gradient(180deg, #2b2b2b 0%, #000000 52.08%, #2b2b2b 100%);
  }
  main .content {
    margin-top: 128px;
    display: grid;
    grid-template-rows: 408px 408px 408px 408px 408px;
    grid-template-columns: 1284px;
    grid-row-gap: 173px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}
@media (max-width: 1500px) {
  menu {
    height: 45px;
    margin: 0;
    border-bottom: 1px solid #000000;
  }
  menu .links {
    margin-left: 15%;
    padding-top: 11px;
    display: flex;
    flex-direction: row;
  }
  menu .links a {
    font-size: 14px;
    line-height: 27px;
    margin-left: 40px;
  }
  menu .links a:hover {
    border-bottom: 3px solid orange;
    padding-bottom: 5px;
  }
  header {
    height: 672px;
    background: url('img/header.png');
    background-size: 1500px 672px;
    margin-top: -5px;
    padding: 0;
  }
  header .main-h {
    height: 672px;
    display: grid;
    grid-template-columns: 329px 527px;
    grid-template-rows: 512px;
    grid-column-gap: 220px;
    justify-content: center;
    margin-top: 55px;
  }
  header .main-h .main-img {
    width: 329px;
    height: 517px;
  }
  header .main-h .inf {
    margin-top: 20px;
  }
  header .main-h .inf h1 {
    font-size: 50px;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
  header .main-h .inf .line {
    margin-top: 45px;
    width: 176px;
    height: 25px;
  }
  header .main-h .inf p {
    text-align: right;
    font-size: 12px;
    line-height: 15px;
  }
  header .main-h .inf .words {
    margin-top: 101px;
  }
  main {
    height: 2478px;
    margin-top: -60px;
  }
  main .content {
    margin-top: 111px;
    display: grid;
    grid-template-rows: 286px 286px 286px 286px 286px;
    grid-template-columns: 900px;
    grid-row-gap: 126px;
  }
  main .content .card {
    width: 900px;
    height: 285.98px;
  }
}
@media (max-width: 1000px) {
  menu {
    height: 40px;
    margin: 0;
    border-bottom: 1px solid #000000;
  }
  menu .links {
    margin-left: 15%;
    padding-top: 11px;
    display: flex;
    flex-direction: row;
  }
  menu .links a {
    font-size: 14px;
    line-height: 27px;
    margin-left: 40px;
  }
  menu .links a:hover {
    border-bottom: 3px solid orange;
    padding-bottom: 2px;
  }
  header {
    height: 554px;
    background: url('img/header.png');
    background-size: 1000px 554px;
    margin-top: -5px;
    padding: 0;
  }
  header .main-h {
    height: 361px;
    display: grid;
    grid-template-columns: 230px 380px;
    grid-template-rows: 361px;
    grid-column-gap: 113px;
    justify-content: center;
    margin-top: 95px;
  }
  header .main-h .main-img {
    width: 230px;
    height: 361px;
  }
  header .main-h .inf {
    margin-top: 20px;
  }
  header .main-h .inf h1 {
    font-size: 35px;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
  header .main-h .inf .line {
    margin-top: 24px;
    width: 131px;
    height: 15px;
  }
  header .main-h .inf p {
    text-align: right;
    font-size: 12px;
    line-height: 15px;
  }
  header .main-h .inf .words {
    margin-top: 25px;
  }
  main {
    height: 2000px;
    margin-top: -60px;
  }
  main .content {
    margin-top: 111px;
    display: grid;
    grid-template-rows: 256px 256px 256px 256px 256px;
    grid-template-columns: 760px;
    grid-row-gap: 90px;
  }
  main .content .card {
    width: 760px;
    height: 256.47px;
  }
}
