body{
  padding: 0;
  margin: 0;
}
@flame: linear-gradient(90deg, #F29653 0%, #D4643F 100%);
  menu{
    margin: 0;
    padding: 0;
    height: 80px;
    margin: 0;
    border-bottom: 1px solid #000000;
    .links{
      margin-left: 15%;
      padding-top: 26px;
      display: flex;
      flex-direction: row;
        a{
          font-family: Poiret One;
          color: #000000;
          text-decoration: none;
          font-size: 16px;
          line-height: 27px;
          margin-left: 45px;
        }
        a:hover{
          border-bottom: 3px solid orange;
          padding-bottom: 25px;
        }
        a:first-of-type{
          border-bottom: 3px solid orange;
          padding-bottom: 25px;
        }
    }
  }
  header{
    height: 847px;
    background: url('img/header.png');
    margin-top: -5px;
    padding: 0;
    .main-h{
      height: 847px;
      display: grid;
      grid-template-columns: 440px 670px;
      grid-column-gap: 272px;
      justify-content: center;
      margin-top: 105px;
    .inf{
      margin-top: 75px;
      h1{
        font-family: Kelly Slab;
        font-size: 64px;
        line-height: 30px;
      }
      .line{
        margin-top: 75px;
        width: 236px;
        height: 31px;
        background: linear-gradient(90deg, #F29653 0%, #D4643F 100%);
      }
      p{
        text-align: right;
      }
      .words{
        margin-top: 127px;
      }
    }
    }
  }
  main{
    height: 3304px;
    background: linear-gradient(180deg, #2B2B2B 0%, #000000 52.08%, #2B2B2B 100%);
    .content{
      margin-top: 128px;
      display: grid;
      grid-template-rows: 408px 408px 408px 408px 408px;
      grid-template-columns: 1284px;
      grid-row-gap: 173px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }
  }

@media (max-width: 1500px) {
  menu{
    height: 45px;
    margin: 0;
    border-bottom: 1px solid #000000;
    .links{
      margin-left: 15%;
      padding-top: 11px;
      display: flex;
      flex-direction: row;
        a{
          font-size: 14px;
          line-height: 27px;
          margin-left: 40px;
        }
        a:hover{
          border-bottom: 3px solid orange;
          padding-bottom: 5px;
        }
        a:first-of-type{
          border-bottom: 3px solid orange;
          padding-bottom: 5px;
        }
    }
  }
  header{
    height: 672px;
    background: url('img/header.png');
    background-size: 1500px 672px;

    margin-top: -5px;
    padding: 0;
    .main-h{
      height: 672px;
      display: grid;
      grid-template-columns: 329px 527px;
      grid-template-rows: 512px;
      grid-column-gap: 220px;
      justify-content: center;
      margin-top: 55px;
      .main-img{
        width: 329px;
        height: 517px;
      }
    .inf{
      margin-top: 20px;
      h1{
        font-size: 50px;
        line-height: 16px;
        letter-spacing: 0.2px;
      }
      .line{
        margin-top: 45px;
        width: 176px;
        height: 25px;
      }
      p{
        text-align: right;
        font-size: 12px;
        line-height: 15px;
      }
      .words{
        margin-top: 101px;
      }
    }
    }
  }
  main{
    height: 2478px;
    margin-top: -60px;
    .content{
      margin-top: 111px;
      display: grid;
      grid-template-rows: 286px 286px 286px 286px 286px;
      grid-template-columns: 900px;
      grid-row-gap: 126px;
      .card{
        width: 900px;
        height: 285.98px;
      }
    }
  }
}
@media (max-width: 1000px) {
  menu{
    height: 40px;
    margin: 0;
    border-bottom: 1px solid #000000;
    .links{
      margin-left: 15%;
      padding-top: 11px;
      display: flex;
      flex-direction: row;
        a{
          font-size: 14px;
          line-height: 27px;
          margin-left: 40px;
        }
        a:hover{
          border-bottom: 3px solid orange;
          padding-bottom: 2px;
        }
        a:first-of-type{
          border-bottom: 3px solid orange;
          padding-bottom: 2px;
        }
    }
  }
  header{
    height: 554px;
    background: url('img/header.png');
    background-size: 1000px 554px;
    margin-top: -5px;
    padding: 0;
    .main-h{
      height: 361px;
      display: grid;
      grid-template-columns: 230px 380px;
      grid-template-rows: 361px;
      grid-column-gap: 113px;
      justify-content: center;
      margin-top: 95px;
      .main-img{
        width: 230px;
        height: 361px;
      }
    .inf{
      margin-top: 20px;
      h1{
        font-size: 35px;
        line-height: 16px;
        letter-spacing: 0.2px;
      }
      .line{
        margin-top: 24px;
        width: 131px;
        height: 15px;
      }
      p{
        text-align: right;
        font-size: 12px;
        line-height: 15px;
      }
      .words{
        margin-top: 25px;
      }
    }
    }
  }
  main{
    height: 2000px;
    margin-top: -60px;
    .content{
      margin-top: 111px;
      display: grid;
      grid-template-rows: 256px 256px 256px 256px 256px;
      grid-template-columns: 760px;
      grid-row-gap: 90px;
      .card{
        width: 760px;
        height: 256.47px;
      }
    }
  }
}
@media (max-width: 800px) {
  menu{
    .links{
      margin-left: 5%;
      a{
        margin-left: 35px;
        font-size: 13px;
      }
    }
  }
  header{
    height: 395px;
    background: url('img/header.png');
    background-size: 800px 370px;
    margin-top: -5px;
    padding: 0;
    .main-h{
      height: 361px;
      display: grid;
      grid-template-columns: 172px 380px;
      grid-template-rows: 270px;
      grid-column-gap: 48px;
      justify-content: center;
      margin-top: 27px;
      .main-img{
        width: 172px;
  height: 270px;
      }
    .inf{
      margin-top: 20px;
      h1{
        font-size: 30px;
        line-height: 16px;
        letter-spacing: 0.2px;
        text-align: right;
      }
      .line{
        margin-top: 24px;
        width: 115px;
        height: 11px;
        margin-left: 65px;
      }
      p{
        text-align: right;
        font-size: 10px;
        line-height: 10px;
      }
      .words{
        margin-top: 25px;
      }
    }
    }
  }
  main{
    height: 2000px;
    margin-top: -60px;
    .content{
      margin-top: 111px;
      display: grid;
      grid-template-rows: 214px 214px 214px 214px 214px;
      grid-template-columns: 580px;
      grid-row-gap: 90px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      .card{
        width: 580px;
        height: 214px;
      }
    }
  }
}
@media (max-width: 650px) {
  menu{
    .links{
      margin-left: 5%;
      a{
        margin-left: 12px;
        font-size: 12px;
      }
    }
  }
  header{
    height: 330px;
    background: url('img/header.png');
    background-size: 650px 300px;
    margin-top: -5px;
    padding: 0;
    .main-h{
      height: 361px;
      display: grid;
      grid-template-columns: 135px 194px;
      grid-template-rows: 211px;
      grid-column-gap: 21px;
      margin-top: 20px;
      .main-img{
        width: 135px;
        height: 211.92px;
      }
    .inf{
      margin-top: 0px;
      h1{
        font-size: 25px;
        line-height: 25px;
        letter-spacing: 0.2px;
        text-align: right;
      }
      .line{
        margin-top: 0px;
        width: 66px;
        height: 6px;
        margin-left: 65px;
      }
      p{
        text-align: right;
        font-size: 10px;
        line-height: 10px;
      }
      .words{
        margin-top: 25px;
      }
    }
    }
  }
  main{
    height: 1500px;
    margin-top: -60px;
    .content{
      margin-top: 111px;
      display: grid;
      grid-template-rows: 128px 128px 128px 128px 128px;
      grid-template-columns: 340px;
      grid-row-gap: 50px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      .card{
        width: 340px;
        height: 128px;
      }
    }
  }
}
@media (max-width: 400px) {
  menu{
    height: 25px;
    .links{
      margin-left: 3%;
      a{
        margin-left: 6px;
        font-size: 7px;
        line-height: 9px;
      }
    }
  }
  header{
    height: 330px;
    background: url('img/header.png');
    background-size: 650px 300px;
    margin-top: -5px;
    padding: 0;
    .main-h{
      height: 361px;
      display: grid;
      grid-template-columns: 250px;
      grid-template-rows: 137px 156px;
      grid-column-gap: 0px;
      margin-top: 0px;
      .main-img{
        width: 100px;
        height: 156.98px;
        margin-top: -48px;
        grid-row: 2;
      }
    .inf{
      margin-top: 0px;
      h1{
        font-size: 20px;
        line-height: 16px;
        letter-spacing: 0.2px;
        text-align: right;
      }
      .line{
        margin-top: 0px;
        width: 66px;
        height: 6px;
        margin-left: 37px;
      }
      p{
        text-align: right;
        font-size: 9px;
        line-height: 10px;
      }
      .words{
        margin-top: 9px;
      }
    }
    }
  }
  main{
    height: 1000px;
    margin-top: -60px;
    .content{
      margin-top: 36px;
      display: grid;
      grid-template-rows: 110px 110px 110px 110px 110px;
      grid-template-columns: 230px;
      grid-row-gap: 36px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      .card{
        width: 230px;
        height: 110px;
      }
    }
  }
}
