span{
  color: #D4643F;
}
@media (max-width: 1920px) {
  menu{
    margin: 0;
    padding: 0;
    height: 80px;
    margin: 0;
    border-bottom: 1px solid #000000;
    .links{
      margin-left: 15%;
      padding-top: 26px;
      display: flex;
      flex-direction: row;
        a{
          font-family: Poiret One;
          color: #000000;
          text-decoration: none;
          font-size: 16px;
          line-height: 27px;
          margin-left: 45px;
        }
        a:hover{
          border-bottom: 3px solid orange;
          padding-bottom: 25px;
        }

    }
  }
  main{
    height: 2413px;
    .content{
      width: 1077px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      .heading{
        margin-top: 134px;
        h1{
          font-family: Kelly Slab;
          font-size: 48px;
          line-height: 16px;
          letter-spacing: 0.2px;
          position: absolute;
          margin-top: -30px;
        }
        .line{
          width: 693px;
          height: 26px;
          background: linear-gradient(90deg, #F29653 0%, #D4643F 100%);
          margin-left: 380px;
        }
      }
      .book-left{
        display: grid;
        grid-template-columns: 170px 889px;
        margin-top: 121px;
        grid-column-gap: 17px;
        .inf{
          margin-top: -30px;
          h2{
            font-family: Poiret One;
            font-size: 36px;
            line-height: 19px;
            letter-spacing: 2px;
          }
          article{
            font-family: Podkova;
            font-size: 18px;
            line-height: 17px;
            letter-spacing: 2px;
          }
          p, a{
            font-family: Podkova;
            font-size: 15px;
            line-height: 16px;
            letter-spacing: 2px;
          }
          p{
            margin-bottom: 0;
          }
          a{
            color: #D4643F;
          }
        }
      }
      .book-right{
        display: grid;
        grid-template-columns: 889px 170px;
        margin-top: 101px;
        grid-column-gap: 17px;
        .inf{
          margin-top: -25px;
          h2{
            font-family: Poiret One;
            font-size: 36px;
            line-height: 15px;
            letter-spacing: 2px;
          }
          article{
            font-family: Podkova;
            font-size: 18px;
            line-height: 17px;
            letter-spacing: 2px;
          }
          p, a{
            font-family: Podkova;
            font-size: 15px;
            line-height: 15px;
            letter-spacing: 2px;
          }
          p{
            margin-bottom: 0;
          }
          a{
            color: #D4643F;
          }
        }
      }
    }
  }
}
