body {
  margin: 0;
}
@media (max-width: 1920px) {
  menu {
    padding: 0;
    height: 80px;
    margin: 0;
    border-bottom: 1px solid #000000;
  }
  menu .links {
    margin-left: 15%;
    padding-top: 26px;
    display: flex;
    flex-direction: row;
  }
  menu .links a {
    font-family: Poiret One;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
    margin-left: 45px;
  }
  menu .links a:hover {
    border-bottom: 3px solid orange;
    padding-bottom: 25px;
  }
  main {
    background-image: url('img/bck.png');
    background-position: center;
    height: 3441px;
    margin: 0;
  }
  main .content {
    display: grid;
    grid-template-columns: 1001px 142px;
    grid-column-gap: 122px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 192px;
  }
  main .content .bio {
    font-family: Podkova;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
  }
  main .content .bio .heading {
    display: flex;
    flex-direction: row;
  }
  main .content .bio .heading h1 {
    font-family: Kelly Slab;
    font-size: 48px;
    line-height: 16px;
    z-index: 2;
  }
  main .content .bio .heading .h-line {
    background: linear-gradient(90deg, #f29653 0%, #d4643f 100%);
    width: 643px;
    height: 26px;
    position: absolute;
    margin-top: 50px;
    margin-left: 350px;
  }
  main .content .bio span {
    color: #D4643F;
  }
  main .content .bio .right {
    float: right;
    margin-left: 20px;
    margin-top: 20px;
    max-width: 337px;
    font-family: Poiret One;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
    margin-right: 10px;
  }
  main .content .bio .left {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    max-width: 350px;
    font-family: Poiret One;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
    margin-right: 10px;
  }
  main .content .bio .left p {
    margin-top: -2px;
    line-height: 12px;
  }
  main .content .bio .line {
    width: 579px;
    height: 26px;
    background: linear-gradient(90deg, #f29653 0%, #d4643f 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-top: 165px;
  }
  main .content .timeline {
    margin-top: 120px;
  }
}
@media (max-width: 1500px) {
  menu {
    padding: 0;
    height: 45px;
    margin: 0;
    border-bottom: 1px solid #000000;
  }
  menu .links {
    margin-left: 15%;
    padding-top: 11px;
    display: flex;
    flex-direction: row;
  }
  menu .links a {
    font-family: Poiret One;
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    line-height: 27px;
    margin-left: 40px;
  }
  menu .links a:hover {
    border-bottom: 3px solid orange;
    padding-bottom: 25px;
  }
  main {
    background-image: url('img/bck.png');
    background-position: center;
    height: 2581px;
    margin: 0;
  }
  main .content {
    display: grid;
    grid-template-columns: 750px 142px;
    grid-column-gap: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 153px;
  }
  main .content .bio {
    font-family: Podkova;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
  }
  main .content .bio .heading {
    display: flex;
    flex-direction: row;
  }
  main .content .bio .heading h1 {
    font-family: Kelly Slab;
    font-size: 40px;
    line-height: 16px;
    z-index: 2;
  }
  main .content .bio .heading .h-line {
    background: linear-gradient(90deg, #f29653 0%, #d4643f 100%);
    width: 429px;
    height: 20px;
    position: absolute;
    margin-top: 45px;
    margin-left: 350px;
  }
  main .content .bio span {
    color: #D4643F;
  }
  main .content .bio .right {
    float: right;
    margin-left: 0px;
    margin-top: 20px;
    max-width: 250px;
    font-family: Poiret One;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
    margin-right: 10px;
  }
  main .content .bio figure:first-of-type img {
    width: 250px;
    height: 135.01px;
  }
  main .content .bio figure:last-of-type {
    width: 210px;
    height: 154.35px;
  }
  main .content .bio .left {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    max-width: 350px;
    font-family: Poiret One;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
    margin-right: 10px;
  }
  main .content .bio .left p {
    font-size: 16px;
    line-height: 20px;
    margin-top: -2px;
    line-height: 12px;
  }
  main .content .bio .line {
    width: 579px;
    height: 26px;
    background: linear-gradient(90deg, #f29653 0%, #d4643f 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-top: 165px;
  }
  main .content .timeline {
    margin-top: 107px;
    height: 1890px;
    width: 100px;
  }
}
