body {
  margin: 0;
}
@media (max-width: 1920px) {
  menu {
    padding: 0;
    height: 80px;
    margin: 0;
    border-bottom: 1px solid #000000;
  }
  menu .links {
    margin-left: 15%;
    padding-top: 26px;
    display: flex;
    flex-direction: row;
  }
  menu .links a {
    font-family: Poiret One;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
    margin-left: 45px;
  }
  menu .links a:hover {
    border-bottom: 3px solid orange;
    padding-bottom: 25px;
  }
  menu .links a:nth-of-type(2) {
    border-bottom: 3px solid orange;
    padding-bottom: 25px;
  }
  main {
    background-image: url('img/bck.png');
    background-position: center;
    height: 3441px;
    margin: 0;
  }
  main .content {
    display: grid;
    grid-template-columns: 1001px 142px;
    grid-column-gap: 122px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 192px;
  }
  main .content .bio {
    font-family: Podkova;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
  }
  main .content .bio .heading {
    display: flex;
    flex-direction: row;
  }
  main .content .bio .heading h1 {
    font-family: Kelly Slab;
    font-size: 48px;
    line-height: 16px;
    z-index: 2;
  }
  main .content .bio .heading .h-line {
    background: linear-gradient(90deg, #f29653 0%, #d4643f 100%);
    width: 643px;
    height: 26px;
    position: absolute;
    margin-top: 50px;
    margin-left: 350px;
  }
  main .content .bio span {
    color: #D4643F;
  }
  main .content .bio .right {
    float: right;
    margin-left: 20px;
    margin-top: 20px;
    max-width: 337px;
    font-family: Poiret One;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
    margin-right: 10px;
  }
  main .content .bio .left {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    max-width: 350px;
    font-family: Poiret One;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
    margin-right: 10px;
  }
  main .content .bio .left p {
    margin-top: -2px;
    line-height: 12px;
  }
  main .content .bio .line {
    width: 579px;
    height: 26px;
    background: linear-gradient(90deg, #f29653 0%, #d4643f 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-top: 165px;
  }
  main .content .timeline {
    margin-top: 120px;
  }
}
@media (max-width: 1440px) {
  menu {
    padding: 0;
    height: 45px;
    margin: 0;
    border-bottom: 1px solid #000000;
  }
  menu .links {
    margin-left: 15%;
    padding-top: 11px;
    display: flex;
    flex-direction: row;
  }
  menu .links a {
    font-family: Poiret One;
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    line-height: 27px;
    margin-left: 40px;
  }
  menu .links a:hover {
    border-bottom: 3px solid orange;
    padding-bottom: 5px;
  }
  menu .links a:nth-of-type(2) {
    border-bottom: 3px solid orange;
    padding-bottom: 5px;
  }
  main {
    background-image: url('img/bck.png');
    background-size: 1440px 2581px;
    background-position: center;
    height: 2581px;
    margin: 0;
  }
  main .content {
    display: grid;
    grid-template-columns: 750px 142px;
    grid-column-gap: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 153px;
  }
  main .content .bio {
    font-family: Podkova;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
  }
  main .content .bio .heading {
    display: flex;
    flex-direction: row;
  }
  main .content .bio .heading h1 {
    font-family: Kelly Slab;
    font-size: 40px;
    line-height: 16px;
    z-index: 2;
  }
  main .content .bio .heading .h-line {
    background: linear-gradient(90deg, #f29653 0%, #d4643f 100%);
    width: 429px;
    height: 20px;
    position: absolute;
    margin-top: 40px;
    margin-left: 320px;
  }
  main .content .bio span {
    color: #D4643F;
  }
  main .content .bio .right {
    float: right;
    margin-left: 0px;
    margin-top: 0px;
    max-width: 250px;
    font-family: Poiret One;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
    margin-right: 10px;
  }
  main .content .bio .left {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    font-family: Poiret One;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
  }
  main .content .bio .left p {
    font-size: 16px;
    line-height: 20px;
    margin-top: -2px;
    line-height: 12px;
  }
  main .content .bio .first {
    width: 250px;
  }
  main .content .bio .first img {
    width: 250px;
    height: 135.01px;
  }
  main .content .bio figcaption {
    text-align: center;
  }
  main .content .bio .second {
    width: 200px;
    margin-top: 10px;
    margin-right: 20px;
  }
  main .content .bio .second img {
    width: 200px;
    height: 77.3px;
  }
  main .content .bio .third {
    width: 250px;
    margin-top: 10px;
    margin-right: 20px;
  }
  main .content .bio .third img {
    width: 250px;
    height: 169.49px;
  }
  main .content .bio .fourth {
    width: 210px;
  }
  main .content .bio .fourth img {
    width: 210px;
    height: 154.35px;
  }
  main .content .bio .line {
    width: 579px;
    height: 26px;
    background: linear-gradient(90deg, #f29653 0%, #d4643f 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-top: 107px;
  }
  main .content .timeline {
    margin-top: 107px;
    height: 1890px;
    width: 100px;
  }
}
@media (max-width: 1000px) {
  menu {
    padding: 0;
    height: 40px;
    margin: 0;
    border-bottom: 1px solid #000000;
  }
  menu .links {
    margin-left: 15%;
    padding-top: 6px;
    display: flex;
    flex-direction: row;
  }
  menu .links a {
    font-size: 13px;
    line-height: 27px;
    margin-left: 35px;
  }
  menu .links a:hover {
    border-bottom: 3px solid orange;
    padding-bottom: 2px;
  }
  menu .links a:nth-of-type(2) {
    border-bottom: 3px solid orange;
    padding-bottom: 5px;
  }
  main {
    background-image: url('img/bck.png');
    background-size: 1000px 2373px;
    background-position: center;
    height: 2373px;
    margin: 0;
  }
  main .content {
    display: grid;
    grid-template-columns: 570px;
    grid-column-gap: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 92px;
    height: 2250px;
    grid-template-rows: auto;
  }
  main .content .bio {
    font-family: Podkova;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
  }
  main .content .bio .heading {
    display: flex;
    flex-direction: row;
  }
  main .content .bio .heading h1 {
    font-size: 30px;
    line-height: 16px;
  }
  main .content .bio .heading .h-line {
    width: 336px;
    height: 16px;
    position: absolute;
    margin-top: 30px;
    margin-left: 235px;
  }
  main .content .bio p {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
  }
  main .content .bio span {
    color: #D4643F;
  }
  main .content .bio .right {
    float: right;
    margin-left: 0px;
    margin-top: 20px;
    max-width: 212px;
    font-family: Poiret One;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
    margin-right: 10px;
  }
  main .content .bio .first {
    width: 212px;
  }
  main .content .bio .first img {
    width: 212px;
    height: 119px;
  }
  main .content .bio .second {
    width: 191px;
    margin-right: 30px;
  }
  main .content .bio .second img {
    width: 191px;
    height: 74px;
  }
  main .content .bio .third {
    width: 200px;
  }
  main .content .bio .third img {
    width: 200px;
    height: 135.59px;
  }
  main .content .bio .fourth {
    width: 180px;
  }
  main .content .bio .fourth img {
    width: 180px;
    height: 132.3px;
  }
  main .content .bio figcaption {
    font-size: 12px;
    line-height: 17px;
    text-align: center;
  }
  main .content .bio br:first-of-type {
    display: none;
  }
  main .content .bio br:nth-of-type(2) {
    display: none;
  }
  main .content .bio figure:first-of-type {
    margin-right: 20px;
    margin-top: 10px;
  }
  main .content .bio .left {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    font-family: Poiret One;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
  }
  main .content .bio .left p {
    font-size: 16px;
    line-height: 20px;
    margin-top: -2px;
    line-height: 12px;
  }
  main .content .bio .line {
    width: 282px;
    height: 15px;
    margin-top: 23px;
  }
  main .content .timeline {
    display: none;
    margin-top: 107px;
    height: 1890px;
    width: 100px;
  }
}
@media (max-width: 600px) {
  menu {
    padding: 0;
    height: 40px;
    margin: 0;
    border-bottom: 1px solid #000000;
  }
  menu .links {
    margin-left: 5%;
    padding-top: 6px;
    display: flex;
    flex-direction: row;
  }
  menu .links a {
    font-size: 12px;
    line-height: 27px;
    margin-left: 18px;
  }
  menu .links a:hover {
    border-bottom: 3px solid orange;
    padding-bottom: 2px;
  }
  menu .links a:nth-of-type(2) {
    border-bottom: 3px solid orange;
    padding-bottom: 5px;
  }
  main {
    background-image: url('img/bck.png');
    background-size: 600px 2490px;
    background-position: center;
    height: 2490px;
    margin: 0;
  }
  main .content {
    display: grid;
    grid-template-columns: 350px;
    grid-column-gap: 0px;
    margin-top: 92px;
    height: 2300px;
    grid-template-rows: auto;
  }
  main .content .bio {
    font-family: Podkova;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
  }
  main .content .bio .heading {
    display: flex;
    flex-direction: row;
  }
  main .content .bio .heading h1 {
    font-size: 25px;
    line-height: 16px;
  }
  main .content .bio .heading .h-line {
    width: 231px;
    height: 16px;
    position: absolute;
    margin-top: 25px;
    margin-left: 110px;
  }
  main .content .bio p {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
  }
  main .content .bio span {
    color: #D4643F;
  }
  main .content .bio .right {
    float: right;
    margin-left: 0px;
    margin-top: 20px;
    max-width: 120px;
    font-family: Poiret One;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
    margin-right: 10px;
  }
  main .content .bio figure:first-of-type {
    margin-top: 10px;
    margin-right: 20px;
  }
  main .content .bio figure:first-of-type img {
    width: 120px;
    height: 88px;
  }
  main .content .bio .left:first-of-type {
    width: 130px;
  }
  main .content .bio .left:first-of-type img {
    width: 130px;
    height: 54px;
  }
  main .content .bio .right:last-of-type {
    width: 120px;
  }
  main .content .bio .right:last-of-type img {
    width: 120px;
    height: 67px;
  }
  main .content .bio .right:last-of-type figcaption {
    font-size: 12px;
    line-height: 17px;
    text-align: center;
  }
  main .content .bio figcaption {
    font-size: 12px;
    line-height: 17px;
  }
  main .content .bio br:first-of-type {
    display: none;
  }
  main .content .bio br:nth-of-type(2) {
    display: none;
  }
  main .content .bio .left {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    font-family: Poiret One;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
  }
  main .content .bio .left p {
    font-size: 16px;
    line-height: 20px;
    margin-top: -2px;
    line-height: 12px;
  }
  main .content .bio .line {
    width: 282px;
    height: 15px;
    margin-top: 23px;
  }
  main .content .timeline {
    display: none;
    margin-top: 107px;
    height: 1890px;
    width: 100px;
  }
}
@media (max-width: 400px) {
  menu {
    padding: 0;
    height: 40px;
    margin: 0;
    border-bottom: 1px solid #000000;
  }
  menu .links {
    margin-left: 15%;
    padding-top: 6px;
    display: flex;
    flex-direction: row;
  }
  menu .links a {
    font-size: 8px;
    line-height: 27px;
    margin-left: 6px;
  }
  menu .links a:hover {
    border-bottom: 3px solid orange;
    padding-bottom: 2px;
  }
  menu .links a:nth-of-type(2) {
    border-bottom: 3px solid orange;
    padding-bottom: 5px;
  }
  main {
    background-image: url('img/bck.png');
    background-size: 600px 2490px;
    background-position: center;
    height: 1926px;
    margin: 0;
  }
  main .content {
    display: grid;
    grid-template-columns: 250px;
    grid-column-gap: 0px;
    margin-top: 92px;
    height: 1800px;
  }
  main .content .bio {
    font-family: Podkova;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 1px;
  }
  main .content .bio .heading {
    display: flex;
    flex-direction: row;
  }
  main .content .bio .heading h1 {
    font-size: 19px;
    line-height: 16px;
  }
  main .content .bio .heading .h-line {
    width: 165px;
    height: 11px;
    position: absolute;
    margin-top: 20px;
    margin-left: 85px;
  }
  main .content .bio p {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1px;
  }
  main .content .bio span {
    color: #D4643F;
  }
  main .content .bio .right {
    float: right;
    margin-left: 0px;
    margin-top: 20px;
    max-width: 120px;
    font-family: Poiret One;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
    margin-right: 10px;
  }
  main .content .bio .first {
    width: 100px;
  }
  main .content .bio .first img {
    width: 100px;
    height: 56.13px;
  }
  main .content .bio figcaption {
    font-size: 8px!important;
    line-height: 10px!important;
  }
  main .content .bio br:first-of-type {
    display: none;
  }
  main .content .bio br:nth-of-type(2) {
    display: none;
  }
  main .content .bio .left {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    font-family: Poiret One;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
  }
  main .content .bio .left p {
    font-size: 16px;
    line-height: 20px;
    margin-top: -2px;
    line-height: 12px;
  }
  main .content .bio .line {
    width: 120px;
    height: 8px;
    margin-top: 23px;
  }
  main .content .timeline {
    display: none;
    margin-top: 107px;
    height: 1890px;
    width: 100px;
  }
}
